.subheadline{
    font-size: 1.3em;
    font-weight: bold;
}

.subsubheadline{
    font-size: 1.1em;
    font-weight: bold;
}

.wy-side-nav-search{
    background-color: #d71633;
}

.wy-nav-top {
    background: #d71633;
}

.github-corner{
    display:block;
}

@media screen and (max-width: 768px) {
    .github-corner{
        display:none
    }
}

img[alt=drawing_200] {
    width: 200px;
}

img[alt=drawing_250] {
    width: 230px;
}


img[alt=drawing_400] {
    width: 400px;
}