.subheadline{
    font-size: 1.3em;
    font-weight: bold;
}

.subsubheadline{
    font-size: 1.1em;
    font-weight: bold;
}

.wy-side-nav-search{
    background-color: #d71633;
}

.wy-nav-top {
    background: #d71633;
}

.github-corner{
    display:block;
}

@media screen and (max-width: 768px) {
    .github-corner{
        display:none
    }
}

img[alt=box_closed]{
   width: 250px;
   margin-top:120px;
   
}

img[alt=box_opened]{
   width:300px;	
}

img[alt=centered]{
    width: 300px;
    display: block;
    margin: 0 auto;
}

img[alt=drawing_200] {
    width: 200px;
}

img[alt=drawing_250] {
    width: 250px;
}

img[alt=drawing_300] {
    width: 300px;
}


img[alt=drawing_400] {
    width: 400px;
}


img[alt=drawing_450] {
    width: 450px;
}

img[alt=browser_logo] {
    width: 40px;
}
