Source: fabscanpi-server
Section: net
Priority: optional
Maintainer: Mario Lukas (info@mariolukas.de) 
Build-Depends: debhelper (>= 8.0.0), python (>= 2.7), dh-python, cdbs
X-Python-Version: >=2.7
Standards-Version: 3.9.3

Package: fabscanpi-server
Architecture: all
Homepage: http://fabscan.org
X-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}, opencv3, libtbb-dev, python-pil, python-serial, python-pykka, python-picamera, python-rpi.gpio, python-semver, xvfb, meshlab, strace, avrdude, python-scipy
Description:
 FabScanPi Server ist the backend of the Stand-alone, Web-enabled, Open Source 3D laser scanner.
