Source: fabscanpi-server
Section: net
Priority: optional
Maintainer: Mario Lukas (info@mariolukas.de) 
Build-Depends: debhelper (>=7.0.50~), python (>= 2.7), python-support
XS-Python-Version: >=2.4
Standards-Version: 3.8.4

Package: fabscanpi-server
Architecture: all
Homepage: http://fabscan.org
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}, python-opencv-tbb, libtbb2, python-pil, python-serial, python-pykka, python-picamera, avrdude
Description: 
 FabScanPi Server ist the backend of the Stand-alone, Web-enabled, Open Source 3D laser scanner.
